<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funcionapppdfexcel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/92f25c26-2e7b-42c0-9118-8edded12fe23/resourcegroups/FuntionApp01/providers/Microsoft.Web/sites/FuncionAppPdfExcel</ResourceId>
    <UserName>Kelly</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funcionapppdfexcel.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>